body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(251, 222, 238) 15.6%,
    rgb(206, 201, 226) 80.3%
  );
  font-family: "Raleway", sans-serif;
}

.weather-app {
  background: #fdfdfe;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgba(227, 226, 226);
  border-radius: 16px;
  padding: 30px;
}
